language: php

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
    - php: 7.2
    - php: 7.3

before-install:
  - composer self-update

install:
  - composer install --prefer-source --no-interaction --dev

script:
  - composer check
  - composer test

notifications:
  email: dev@livecommerce.com.br